
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewBag.Title = "Hakkimda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>KİŞİSEL BİLGİLER</h2>

<div class="clear"></div>
<div class="hr1"></div>
<div class="one-third" style="width:15%;">

    <p>İSİM :</p>
    <p>SOYİSİM :</p>
    <p>DOĞUM TARİHİ :</p>
    <p>ADRES :</p>
    <p>E-MAİL :</p>
    <p>MEDENİ DURUM :</p>
    <p>ASKERLİK DURUMU :</p>
</div>
<div class="two-third" style="width:60%;">
    <ul>
        <li>BURAK</li>
        <li>DOĞAN</li>
        <li>06/06/1994</li>
        <li>GÖKTÜRK MERKEZ MAH./ÇEŞMEBAŞI CAD./NO 33-A BLOK/DAİRE 1</li>
        <li>burak.dogann94@gmail.com</li>
        <li>BEKAR</li>
        <li>YAPILDI</li>
    </ul>
</div>
<div class="one-third last" style="width:15%">
    <a href="#"><img src="~/style/images/resim.png" alt="Profil Resmi" /></a>

</div>

