
@{
    ViewBag.Title = "egitimseviyesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>Yüksek Seviye Programa Bilgisi</h2>
    <li>Python, MySQL,C#, Javascript, Java, PL/I, COBOL </li>
    <br />
    <li>Asp.Net Mvc, Html, CSS </li>
    <br />


</div>

