
@{
    ViewBag.Title = "Egitim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Egitim</h2>
<div class="clear"></div>
<div class="hr1"></div>
<div class="one-third" style="width:50%;">
    <li>2013-2018 – BEYKENT ÜNİVERSİTESİ - Bilgisayar Mühendisliği (İngilizce) Mezunu</li>
    <br />
    <li>2013-2014 – BEYKENT ÜNİVERSİTESİ - İngilizce Hazırlık</li>
    <br />
    <li>2012-2013 – Üniversite Hazırlık</li>
    <br />
    <li>2008-2012 – FAHRETTİN ÖZÜDOĞRU ANADOLU TİCARET MESLEK LİSESİ – Web Tasarımı ve Programlama</li>
    
</div>
<div class="one-third" style="width:15%;">

    <br />
    <br />

</div>
<div class="one-third last" style="width:20%;">
    <a><img src="~/style/images/bu-logo.png" alt="Universite logo" /></a>
</div>

<div class="clear"></div>
<div class="hr1"></div>
<h2>Deneyim</h2>
<h4>TÜRKİYE HALK BANKASI BT(BİLİŞİM TEKNOLOJİLERİ DEPARTMANI) (2017- 2018)</h4>
<p>
    -Üniversite dönemimde halkbank bt departmanında uzun dönem alanında uzman yazılım ekibinin bir parçası oldum.
    Uzman yazılımcılardan mainframe alanında ve PL/I ve COBOL dillerinde önemli kazanımlar edindim.
    Belirli koşullara uyan hesapların veritabanından silinmesi projesinde bulundum. 
    Cursor yapısıyla veritabanı ilişkilerini detaylı öğrendim.
    İş ortamı, disiplini ve yazılım alanlarında bu ekipten bana katabilecek her türlü tecrübeyi edinmeye çalışıp, kendimi geliştirmeye çalıştım.

</p>




<div class="clear"></div>
<div class="hr1"></div>

