
@{
    ViewBag.Title = "iletisim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewBag.Title = "Iletisim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Iletisim</h2>
<div class="clear"></div>
<div class="hr1"></div>

<div class="one-half" style="width:15%;">
    <a href="#"><img src="~/style/images/wp-icon.png" alt="Profil Resmi" /></a>
    <br />
    <a href="#"><img src="~/style/images/Gmailicon.png" alt="Profil Resmi" /></a>
    <br />
    <a href="#"><img src="~/style/images/facebookicon.png" alt="Profil Resmi" /></a>
    <br />
    <a href="#"><img src="~/style/images/instagramicon.png" alt="Profil Resmi" /></a>

</div>
<div class="one-half last" style="width:60%;">
    <ul>
        <br />
        <li><h2>+905396141726</h2></li>

        <br />
        <li><h2>burak.dogann94@gmail.com</h2></li>
        <br />

        <li><h2>facebook.com/burakdogan</h2></li>

        <br />
        <li><h2>instagram.com/burakdogan</h2></li>

    </ul>
</div>



