
@{
    ViewBag.Title = "Projeler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kariyer</h2>
<br />

<div class="clear"></div>

<div>
    <h2>Staj Yapılan Yerler</h2>
    <br />
    <li>Halkbankası Bilişim Teknolojileri Departmanı (06/2017 - 08/2017)</li>
    <br />
    <li>İski Bilişim Departmanı (09/2011 - 06/2012)</li>
    <br />
    <h2>Projeler</h2>
    <li> https://github.com/burakdogan94/ownprojects.git </li>
    <br />
    <h4>
        2013-2018 – BEYKENT ÜNİVERSİTESİ - Bilgisayar Mühendisliği (İngilizce) Mezunu
        
    </h4>
    <h4>BİTİRME PROJESİ</h4>
    <br />
    <p>

        -Araç Seyir Halindeyken Uyuma Sorunsalı İçin Ekip Halinde Yaptığímız Bir Proje.
        Projenin Konusu Sürücü, Aracı Kullanım Esnasında Gozlerini 5 Sn. Den Fazla Kapalı Tuttuğu Durumda Sesli Uyarı Alacaktır.
        Yaptığımız Yazılımda Araç Çalışır Durumdayken  Sürücünün Kamera Yardımı İle Gözleri Algılanır.
        Gözler Algılanmadığında Saniye Saymaya Başlayacaktır.
        Eğer Sayılan Zaman 5 Sn. Yi Bulursa Sesli Uyarı Yapacaktır.

    </p>
    <br />
    <h4>DÖNEM PROJESİ</h4>
    <br />
    <p>
        -Dönem Projemde Java Dilinde Mobil Cihazlar İçin Ad,Soyad,Telefon Vb.
        Bilgilerini Veritabanına Kaydeden Telefon Rehberi Mobil Uygulaması Yaptım.
    </p>
    <br />
</div>