
@{
    ViewBag.Title = "yabancidil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Yabancı Dil</h2>
<div>
    <li>İngilizce : Okuma İYİ Seviye<li />
    <br />
    <li>İngilizce : Yazma İYİ Seviye<li />
    <br />
    <li>İngilizce : Konuşma İYİ Seviye<li />
    <br />
    
    <li>IELTS Sınavı Sonuç : Speaking : 5, Listening : 5, Writing : 5.5, Reading:  5 (21.12.2018)</li>
</div>

