.sayfa {
    position:absolute;
    width: 1340px;
    height: 900px;
    background-image: url('logo.jpg');
    background-size: 192px;

}

.ust{
    width:1020px;
    height:200px;
    background-color:white;
    position:absolute;
    margin:30px 0px 0px 160px; 
}

.logo{
	border:solid 1px;
    background-color:white;
    float:left;
    width:198px;
    height:199px;
    background-image: url('cl_logo.png');
    margin:0px 0px 0px 0px;
    background-size:198px;
}

.yazi{
	border:solid 1px;
    background-image:url('yazilogo.jpg');
    float:left;
    width:818px;
    height:160px;
    background-size:820px;
}
.menu_alan{
	padding:0px;
	margin:0px;
	position:relative;
	float:left;
	width:819px;
	height:38px;
	background-color:white;
	border: 1px black solid;
	border-width:0px 1px 1px 0px;
}
.menu{
	float:left;
	padding:0px;
	margin:0px;
	border:0px;
}
.menu li {
	float:left;
	list-style:none;
	text-decoration:none;
	background-color:darkblue;
	width:271px;
	height:28px;
	display:block;
	text-align:center;
	padding-top:10px;
	font:16px tahoma;
	color:white;
	font-weight:bold;
	border: 1px blue solid;
}
.menu li a{
	text-decoration:none;
	color:white;
}
.menu ul {
	display:none;
}

.menu li:hover{
	background-color:blue;
	
}
menu li:hover .menu li{
	display:block;
	
}


.orta{
	width:1020px;
	height:600px;
	background-color:white;
	border:solid 2px darkblue;
	margin:245px 0px 0px 158px;
	position:relative;
}

.orta .skor_board{
	float:left;
	width:198px;
	height:485px;
	margin:0px 0px 0px 0px;
	border-style:solid;
	border-width:0px 2px 2px 0px;
	
}
.orta .skor_board .pt{
	width:198px;
	height:35px;
	background-color:darkblue;
	float:left;
	font:15px tahoma;
	color:white;
	text-align:left;
	border:0px 1px 0px 0px;
	
}
.orta .grupa{
	text-align:center;
	background-color:darkblue;
	color:white;
	font-size:12px;
}
.orta table{
	width:198px;
}
.orta .baslik{
	width:198px;
	background-color:white;
	color:darkblue;
}
.orta .button{
	width:20px;
	height:20px;
	float:right;
	font-size:10px;
	
}
.skor_board .td{
	background-color:darkblue;

}
.orta .grupb{
	text-align:center;
	background-color:darkblue;
	color:white;
	font-size:12px;
}
.orta .grupc{
	text-align:center;
	background-color:darkblue;
	color:white;
	font-size:12px;
}
.tablo_alt{
	border:3px solid darkblue;
}

.footer{
	float:left;
	border: 2px solid darkblue;
	width:1018px;
	height:110px;
}
	
	
